version: '3.8'
services:
  datadog:
    container_name: skinnova-datadog
    image: datadog/agent:latest
    env_file:
      - ./env/datadog.env
    ports:
      - "8125:8125/udp" 
      - "8126:8126/tcp"  
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /proc/:/host/proc/:ro
    - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    networks:
      - dd-net

  api:
    container_name: skinnova-api
    build: ./api
    command: ddtrace-run uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - ./env/api.env
    volumes:
      - ./api/credentials/skinnova-sa.json:/app/credentials/skinnova-sa.json
    depends_on:
      - datadog
    ports:
      - "8000:8000"
    networks:
      - dd-net
  
  frontend:
    container_name: skinnova-frontend
    command : cp -a /app/. /frontend/
    build: ./frontend
    depends_on:
      - api
    networks:
      - dd-net
    volumes:
      - ./frontend-build:/frontend

  nginx:
    container_name: skinnova-nginx
    build: ./nginx/local
    ports:
      - "8001:80"
    depends_on:
      - api
    networks:
      - dd-net
    volumes:
      - ./frontend-build:/app
  
networks:
  dd-net:
    driver: bridge