version: '3.8'
services:
  datadog:
    container_name: skinnova-datadog
    image: datadog/agent:latest
    env_file:
      - ./env/datadog.env
    ports:
      - "8125:8125/udp"
      - "8126:8126/tcp"   
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /proc/:/host/proc/:ro
    - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    networks:
      - dd-net

  api:
    container_name: skinnova-api
    image: ghcr.io/mari-muthu-k/skinnova:api-latest
    command: ddtrace-run uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - ./env/api.env
    volumes:
      - ./credentials:/app/credentials/
    depends_on:
      - datadog
    ports:
      - "8000:8000"
    networks:
      - dd-net

  frontend:
    container_name: skinnova-frontend
    image: ghcr.io/mari-muthu-k/skinnova:frontend-latest
    command : cp -a /app/. /frontend/
    env_file:
      - ./env/frontend.env
    depends_on:
      - api
    networks:
      - dd-net
    volumes:
      - ./frontend-build:/frontend

  nginx:
    container_name: skinnova-nginx
    image: ghcr.io/mari-muthu-k/skinnova:nginx-latest
    environment:
            - CERTBOT_EMAIL=contact@skinnova.beauty
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - api
    networks:
      - dd-net
    volumes:
      - ./frontend-build:/app
      - ./ssl:/etc/letsencrypt
networks:
  dd-net:
    driver: bridge