name: Build Frontend

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'

    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: mari-muthu-k
          password: ${{ secrets.WORKFLOW_DOCKER_TOKEN }}

      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Enforce case in git
        run: git config core.ignorecase false

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          env:
              NODE_ENV=${{ secrets.NODE_ENV }}
              VITE_DD_APPLICATION_ID=${{ secrets.VITE_DD_APPLICATION_ID }}
              VITE_DD_CLIENT_TOKEN=${{ secrets.VITE_DD_CLIENT_TOKEN }}
              VITE_DD_SITE=${{ secrets.VITE_DD_SITE }}
              VITE_DD_ENV=${{ secrets.VITE_DD_ENV }}
              VITE_DD_SERVICE=${{ secrets.VITE_DD_SERVICE }}
          push: true
          platforms: linux/amd64
          no-cache: true
          tags: ghcr.io/mari-muthu-k/skinnova:frontend-${{ steps.vars.outputs.sha_short }}, ghcr.io/mari-muthu-k/skinnova:frontend-latest